mat-card-title, mat-card-content {
    display: flex;
    justify-content: center;
}

section {
    display: table;
    display: flex;
    justify-content: center;
  }
  
  .example-button-row {
    display: table-cell;
    width: 490px;
    display: flex;
    justify-content: center;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  