<table>
    <tr>
        <td><h1>Sign up page</h1></td>
    </tr>
    <br/>
    <tr>
        <td>
            EmailID/Username
        </td>
        <td>
            <input type = "text"/>
        </td>
    </tr>
    <tr>
        <td>
            Password
        </td>
        <td>
            <input type = "password"/>
        </td>
    </tr>
    <tr>
        <td>
            Retype Password
        </td>
        <td>
            <input type = "password"/>
        </td>
    </tr>
    <tr>
        <td>
            Gender
        </td>
        <td>
            <input type = "text"/>
        </td>
    </tr>
    <tr>
        <td>
            Age
        </td>
        <td>
            <input type = "text"/>
        </td>
    </tr>
    <tr>
        <td><button>Sign Up</button></td>
        <td><button>Clear</button></td>
    </tr>
</table>